* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

::selection {
  background-color: #455ce9; /* Change to the desired background color */
  color: #fff; /* Change to the desired text color */
}

body {
  background-color: #111111;
  animation: sec .8s both ;
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.exit-animation {
  transform: scale(1.09);
  opacity: 0;
}

@keyframes sec {

  0%{
    scale: 1.1;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

.splash {
    height: 100vh;
    width: 100%;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: splash .5s ease-in-out both .8s;
    position: fixed;
    z-index: 99999;
    cursor: wait;
  }
  
  @keyframes splash {
  
    0%{
      border-bottom: 1px solid white;
    }
  
    50% {
      border-bottom-left-radius:  45%;
      border-bottom-right-radius: 45%;
    }
  
    90% {
      border-bottom: 1px solid white;
    }
  
    100% {
      border-bottom-left-radius:  70%;
      border-bottom-right-radius: 70%;
        transform: translateY(-100vh);
    }
  }
  
  @keyframes fadein {
    100% {
      transform: translateY(-150px);
    }
  
  }
  
  .splash > h1 {
    background-image: linear-gradient(to right ,#ffffff, #dadada);
    font-size: 12vh;
    font-weight: 350;
    background-clip: text;
    color: transparent;
    animation: fadein .7s ease both;
    animation-delay: .7s;
  }
  
  .splash-exit {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    transform: translateY(100vh);
    animation: splash-exit-animation .5s both;
    animation-delay: 2s;
    cursor: wait;
  }
  
  .splash-exit > h1 {
    background-image: linear-gradient(to right ,#ffffff, #dadada);
    background-clip: text;
    font-size: 12vh;
    font-weight: 100;
  }
  
  @keyframes splash-exit-animation {
    0% {
      border: 1px solid white;
      border-top-left-radius: 70%;
      border-top-right-radius: 70%;
      display: none;
    }
    90% {
      border: 1px solid white;
    }
    100% {
      display: none;
      border-top-left-radius: 0%;
      border-top-right-radius: 0%;
      transform: translateY(0);
    }
}

nav {
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(30px);
}

.nav-name {
    height: 12vh;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-name > h1{
    font-weight: 400;
    font-size: 30px;
    background-image: linear-gradient(to right, #ffff, #d6d6d6);
    color: transparent;
    background-clip: text;

}

.nav-name h4 {
    display: none;
}

.nav-buttons {
    margin-right: 60px;
    height: 12vh;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

.nav-btn {
  color: white;
  text-decoration: none;
  font-size: 18px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.nav-btn > a {
    color: white;
    text-decoration: none;
}

.nav-btn::before {
  margin-left: auto;
}

.nav-btn::after, .nav-btn::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #ffffff;
  display: block;
  transition: 0.5s;
}

.nav-btn:hover::after, .nav-btn:hover::before {
  width: 100%;
}

main {
    padding-left:  150px;
    padding-right: 150px;
    padding-top: 80px;
    color: #fff;
}

.work-title{
    margin-top: 50px;
    margin-left: 0px;
}

.work-title h1 {
    line-height: 1.3;
    letter-spacing: 8px;
    font-weight: 100;
    font-size: 95px;
  font-family: "Cinzel", serif;
}

.work-title > h1 span {
  background-image: linear-gradient(to right, #ffff, #5f5f5f);
  font-family: "Cinzel", serif;
  color: transparent;
  background-clip: text;
}


.work-content {
    margin-top: 180px;
    height: auto;
    display: grid;
    gap: 0;
    align-items: center;
  } 
  
  .work-card {
    border-top: .5px solid #ffffff2a;
    height:100px ;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .3s;
  }
  
  body.dark-mode .work-card {
    border-top: 1px solid #686767;
  }
  
  .work-card > h1  {
    color: #d8d8d8;
    font-size:65px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    text-decoration: none;
    transition: all .2s;
    margin-left: 30px;
  }
  
  body.dark-mode .work-card > h1 {
    color: #000;
  }
  
  .work-card > h4 {
    color: #d8d8d8;
    font-size: 22px;
    font-weight: 200;
    transition: all .2s;
    margin-right: 30px;
  }
  
  body.dark-mode .work-card > h4 {
    color: #000;
  }
  
  .work-card:hover .work-card > h1{
    margin-left: 5px;
    color: #fff;
    text-shadow: 0 0 3px #fff;
  }
  
  body.dark-mode .work-card:hover .work-card > h1 {
    color: #444444;
  }
  
  .work-card:hover .work-card > h4 {
    margin-right: 0px;
    color: #fff;
  }
  
  body.dark-mode .work-card:hover .work-card > h4 {
    color: #444444;
  }

  .top-btn {
    width: 140px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #fff;
    background: none;
    position: relative;
    padding-bottom: 2em;
    cursor: pointer;
  }
  
  .top-btn > div,
  .top-btn > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .top-btn:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
  }
  
  .top-btn:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .top-btn .clone > *,
  .top-btn .text > * {
    opacity: 1;
    font-size: 1.3rem;
    transition: 0.2s;
    margin-left: 4px;
  }
  
  button .clone > * {
    transform: translateY(60px);
  }
  
  .top-btn:hover .clone > * {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  .top-btn:hover .text > * {
    opacity: 1;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  button:hover .clone > :nth-child(1) {
    transition-delay: 0.15s;
  }
  
  .top-btn:hover .clone > :nth-child(2) {
    transition-delay: 0.2s;
  }
  
  .top-btn:hover .clone > :nth-child(3) {
    transition-delay: 0.25s;
  }
  
  button:hover .clone > :nth-child(4) {
    transition-delay: 0.3s;
  }
  /* icon style and hover */
  .top-btn svg {
    width: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
  }
  
  .top-btn:hover svg {
    transform: translateY(-50%) rotate(-90deg);
  }

.to-top {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

footer {
    height: 118vh;
    width: 100%;
    background-color: #111111;
  }
  
  
  .ftr-main {
    height: 75vh;
    color: #ffff;
    padding-left: 180px ;
    padding-right:180px;
    padding-top:120px ;
    display: grid;
    align-items: center;
  }
  
  .ftr-main-ctnt {
    height: 30vh;
    width: 100%;
    border-bottom: 1px solid #505050;
  }
  
  .ftr-title > h1 {
    font-size: 90px;
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
  }
  
  .ftr-title {
    display: flex;
    align-items: center;
  }
  
  .ftr-title-svg {
    width: 80px;
    margin-right: 25px;
  }
  
  .ftr-title-svg > svg {
    scale: 1.5;
    transform: rotate(45deg);
    /* animation-name: svg-rotate;
    animation-fill-mode: both;
    animation-timeline: view(20vh);
    animation-range-start: 20hv;
    animation-range-end: 85vh; */
  }
  
  @keyframes svg-rotate {
    from {
      transform: rotate(90deg);
    }
  }
  
  .ftr-btns {
    font: 30vh;
    display: flex;
    justify-content: space-between;
  }
  
  .ftr-btn-div {
    width: 50%;
  }
  
  .btns-small {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .ftr-small-btn {
    font-size: 22px;
    line-height: 30px;
    height: 80px;
    padding-left:  30px;
    padding-right: 30px;
    border-radius: 50px;
    border: 1px solid #494949;
    color: #fff;
    background-color: transparent;
    font-family: "Reddit Sans", sans-serif;
    transition: all .2s;
  }
  
  .ftr-small-btn:hover{
    background-color: #455ce9;
    height: 85px;
    z-index: 999;
    transform: translateY(-10px);
    box-shadow: 0 0 20px #455ce9;
  }
  
  
  .btn-large {
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: end;
    transform: translateY(-90%) translateX(-20%);
  }
  .contact-btn {
    height: 220px;
    width: 220px;
    background-color: #fff;
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    border-radius: 50%;
    color: #000000;
    z-index: 9999;
    transition: transform 0s ,box-shadow 0.2s , color .3s; 
    /* transition: all 0.2s ease; */
    /* animation-name: contact-btn; */
    /* animation-fill-mode: both; */
    /* animation-timeline: view(0vh);
    animation-range-end: 60vh;
    animation-range-start: 0vh; */
  }
  
  /* @keyframes contact-btn {
    from{
      scale: 0;
      transform:translateY(-50%) translateX(-280px);
    }
  
  } */
  
  .contact-txt {
    font-size: 22px;
    font-weight: 400;
    font-family: sans-serif;
    z-index: 1;
  }
  
  .type2::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #455ce9;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  
  .contact-btn:hover {
    box-shadow: 1px 1px 200px #455ce9;
    color: #fff;
    border: none;
  }
  
  .type2:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
  }
  
  .ftr-sec-2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .ftr-div {
    width: 50%;
    height: 20vh;
  }
  
  .ftr-div-1 {
    padding-left: 50px;
    display: grid;
    align-items: center;
  }
  
  .ftr-div-1-title > h1 {
    color: #fff;
    font-family: "Reddit Sans", sans-serif;
    font-weight: 300;
    font-size: 28px;
  }
  
  .icons {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .card {
    width: 50%;
    height: fit-content;
    background-color: tp;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
    box-shadow: 0 0 50px #d62976;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
    box-shadow: 0 0 50px #00acee;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
    box-shadow: 0 0 50px #0072b1;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #02a77e;
    transition-duration: .3s;
    box-shadow: 0 0 50px #00d49f;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .ftr-div-2 {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    gap: 50px;
    padding-right: 70px;
    padding-bottom: 20px;
    color: #ffff;
  }
  
  .local-time {
    margin-top: 10px;
    font-family: "Reddit Sans", sans-serif;  
  }
  
  .version-ctnt {
    font-family: "Reddit Sans", sans-serif;
    margin-top: 10px;  
  }

@media (max-width:1440px) {
  
  .btn-large{
    transform: translateY(-70%);
  }
}

@media (max-width:1024px) {
    
  .ftr-main {
    padding-left: 20px;
    padding-right: 20px;
  }

  .ftr-title > h1  {
    font-size: 85px;
  }

  .contact-btn{
    scale: .95;
  }

  .btns-small {
    width: 80%;
  }

  .card {
    width: auto;
  }
}

@media (max-width:768px) {

  .nav-name {
    width: 28%;
  }

  .nav-buttons {
    width: 35%;
    margin-right: 10px;
  }

  main {
    padding-left: 50px;
    padding-right: 50px;
  }

  .work-card h1 {
    font-size: 40px;
  }

  .work-card h4 {
    font-size: 18px;
  }

  .ftr-title h1 {
    font-size: 60px;
  }

  .ftr-main-ctnt {
    height: auto;
    padding-bottom: 70px;
  }

  .btns-small {
    flex-direction: column-reverse;
  }

  .ftr-small-btn {
    width: 20rem;
  }

  .ftr-div-2 {
    padding-right: 20px;
  }
}

@media (max-width : 425px) {
  .splash {
    width: 100vw;
    height: 100vh;
    animation-name: splash-mob;
    animation-duration: .5s;
  }
  
  @keyframes splash-mob {
  
    to {
      transform: translateY(-100vh);
    }
  }

  .nav-name {
    display: none;
  }

  main {
    padding-left: 10px;
    padding-right: 10px;
  }

  .work-title h1 span {
    font-size: 80px;
    letter-spacing: 0;
  }

  .nav-buttons {
    width: 100%;
    height: 50px;
    margin-top: 20px;
  }

}